

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 70px auto;
    border: 3px solid transparent;
    border-radius: 15px;
    width: 600px;
    height: 500px;
    background-color:rgb(84, 224, 147);
    padding: 150px 50px;
}

.container h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.container h6{
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.btn{
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    font-size:20px ;
}